# PENGENALAN BAHASA PYTHON

## INPUT OUTPUT

In [ ]:
print ("hello world!")

In [ ]:
masukan = input()
print(masukan)
print("masukkan :",masukan)
print(f"masukkan: {masukan}")

## TIPE DATA

### String

In [ ]:
sapa = "Halo semuanya"
sapaMalam = "Selamat malam"

print("stirng ", sapa)
print(f"tipe data : {type(sapa)}")
print("panjang string ", len(sapa))
print()

print("Jika diulang 2 kali: ", ((sapa + " ")* 2))
print(f"tampilkan tiga huruf terdepan {sapa[:3]}")
print(f"tampilkan empat huruf dari belakang {sapa[-4:]}")
print(f"{sapa} {sapaMalam}")

stirng  Halo semuanya
tipe data : <class 'str'>
panjang string  13

Jika diulang 2 kali:  Halo semuanya Halo semuanya
tampilkan tiga huruf terdepan Hal
tampilkan tiga huruf terdepan anya
Halo semuanya Selamat malam

##### Operasi String

In [55]:
sapaMalam = "Selamat malam"
sapa + sapaMalam
print(f"{sapa} {sapaMalam}")
print(sapa.upper())

sapaMalam = "Selamat malam"
sapa + sapaMalam
print(f"{sapa} {sapaMalam}")
print(sapa.lower())

Halo semuanya Selamat malam
HALO SEMUANYA
Halo semuanya Selamat malam
halo semuanya

### Angka

In [ ]:
bulat = 5
type(bulat)

desimal = 1.5
type(desimal)

jumlah = desimal + bulat
print(jumlah)

str(jumlah) #ubah ke string


a=int(input("masukkan angka :"))
print(a)

#### Perhitungan

In [ ]:
a = 13
b = 3

print("a:", a)
print("b:", b)
print()
print("tambah:", a+b)
print("kurang:", a-b)
print("bagi:", a/b)
print("kali:", a*b)
print("modulo:", a%b) #modulo
print("pangkat:", a**b ) 
print("bagi:", a/b)
print()
print("tipe(a/b):", type(a/b))
print()
print("bagi bulat:", a//b)
print()
print("tipe(a//b):", type(a//b)) #div
print()
print("pembulatan", round(a/b, 2)) #2 angka belakang koma

a: 13
b: 3

tambah: 16
kurang: 10
bagi: 4.333333333333333
kali: 39
modulo: 1
pangkat: 2197
bagi: 4.333333333333333

tipe(a/b): <class 'float'>

bagi bulat: 4

tipe(a//b): <class 'int'>

pembulatan 4.33

### Boolean & operator logika

In [64]:
malam = True
terang = False

print("malam or terang:", malam or terang)
print("malam and terang:", malam and terang)
print("malam == terang:", malam == terang)
print("not malam:", not malam)
print()

print("5 < 3:", 5 < 3)
print("5 >= 3:", 5 >= 3)
print("5 == 3:", 5 == 3)
print("5 != 3:", 5 != 3)

malam or terang: True
malam and terang: False
malam == terang: False
not malam: False

5 < 3: False
5 >= 3: True
5 == 3: False
5 != 3: True

### None

In [66]:
kosong = None

print(kosong)
print(type(kosong))

None
<class 'NoneType'>

### List

In [ ]:
List = [1, 2, 3, 4, 5, 6, False, True, "Gila"]

print("List:", List)
print("Tiple:", type(List))
print("Panjang:", len(List))
print()

#List[0] = 4
print("Hasil:", List)
#List[0] *= 2
print("Hasil:", List)
print()

print("Awal:", List[0])
print("Akhir:", List[-1]) #akhir pake min(-)
print("elemen 1-2", List[1:3]) #dari 0
print("step 2:", List[::4]) #if ::4 berarti lewat 3
print()

List: [1, 2, 3, 4, 5, 6, False, True, 'Gila']
Tiple: <class 'list'>
Panjang: 9

Hasil: [1, 2, 3, 4, 5, 6, False, True, 'Gila']
Hasil: [1, 2, 3, 4, 5, 6, False, True, 'Gila']

Awal: 1
Akhir: Gila
elemen 1-2 [2, 3]
step 2: [1, 5, 'Gila']

#### Operasi List

In [ ]:
List = [3, 2, 3, 4, 4, 6, False, True, "Gila"]

List.append(5)

List.insert(3, "Gokil")

#List.pop()

#List.remove(1,5)

kota = ['a', 'b', 'c']
print(', '.join(kota))

### Tuple

### Set

### Dictionary

## PERCABANGAN

In [ ]:
umur = 18
umur = int(input())
if umur >= 18 and umur <= 100:
    print("bisa buat SIM")
elif umur > 100:
    print("kayaknya meninggal")
else:
    print("anjay")


hari = "minggu"
tglMerah = False
if hari == "minggu" or tglMerah:
    print("libur")

## PERULANGAN / LOOPING

#### For-Loop

In [ ]:
for i in range(7):
    print(i)


print("---")
for i in range(2, 10, 2):
    print(i)

print("---")

tas= ['laptop', 'hp', 'pen']

for barang in tas:
    print(barang)

print("---")
nilai = [x for x in range(90, 96)]
print(nilai)

#### Nested Loop

In [ ]:
List = []

for i in range(11):
    bahasa_pemrograman = input()
    if bahasa_pemrograman == 'assembly':
        break
    List.append(bahasa_pemrograman)

List

In [ ]:
List = []

for i in range(11):
    bahasa_pemrograman = input()
    if bahasa_pemrograman == 'assembly':
        continue
    List.append(bahasa_pemrograman)

List

#### Break & Continue

#### While-Loop

In [ ]:
count = 0

while count < 5:
    print(f"perulangan ke-{count+1}")
    count= count + 1

## REKURSIF

In [ ]:
n = 4

def faktorial(n):
    if n <= 1:
        return 1
    else:
        return n * faktorial(n-1)

print(faktorial(n))

## FUNGSI & PROSEDUR

### Fungsi

In [ ]:
def hitung():
    a = 7
    b = 3
    return a + b

print(hitung())

In [ ]:
def hitung():
    a = 7
    b = 3
    print (a + b)

hitung()

In [ ]:
x = 2
y = 4

def hitung(a, b):
    return a + b

haisl = hitung(x, y)
print(haisl)

#### Prosedur

### Parameter args & kwargs

## IMPORT LIBRARY

In [ ]:
import math as mt

print(mt.pi)
print(math.sqrt(5))
print(math.ceil(1.44))

## KELAS & OBJEK (opsional)